# Project exclude paths
/.gradle/
/AuthMicroService/build/
/AuthMicroService/build/classes/java/main/
/build/
/build/classes/java/main/
/UserMicroService/build/
/UserMicroService/build/classes/java/main/